{% extends "base.html" %}

{% block title %}

{{ product.title }}

{% endblock %}

{% block content %}

<div class="container-fluid text-center">
    <h1>{{product.Title}}</h1>
    <div class="row justify-content-evenly">
        <div class="col-4">
            <img src="@Model.Image" alt="@Model.Title" class="img-fluid"/>
        </div>
        <div class="col-4">
            <h3>{{ product.price }}</h3>
            <p>{{ product.description }}</p>
            <a href="{% url 'product_list' %}" class="btn btn-primary" role="button">Volver a la Lista</a>
        </div>
    </div>
</div>

{% endblock %}